* {
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a:link,
a:visited {
  color: #ff0000;
  text-decoration: none;
}

article {
  padding: 1em;
}

main {
  width: 290px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

body {
  font-weight: bold;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  border-style: none;
  min-width: 0;
  -webkit-appearance: none;
}

button:focus {
  transform: scale(1.1);
}

article {
  width: 500px;
  max-width: 100%;
  margin: auto;
  display: none;
}

h1.title {
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

[data-panel] {
  background-color: white !important;
  background-image: none !important;
}

[data-panel="intro"] #intro {
  display: block;
}

[data-panel="options"] #options {
  display: block;
}

[data-panel="options"] input,
[data-panel="options"] button,
[data-panel="options"] select {
  margin: 1em auto;
  display: block;
}

[data-panel="options"] input[type="submit"] {
  display: block;
  margin: 1em auto;
}

[data-panel] .controls,
[data-panel] .wrapper {
  visibility: hidden;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  padding: 0.5em;
  align-items: center;
  display: none;
}

footer h1 {
  font-size: 1em;
}

footer button {
  justify-self: flex-end;
  background-color: transparent;
  color: white;
}

footer nav {
  display: flex;
  margin-left: auto;
}

.controls,
.wrapper {
  width: 290px;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 24.2px);
  grid-template-rows: repeat(12, 24.2px);
  grid-auto-flow: row;
}

.box {
  font-size: 1em;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
}

.box[data-you] {
  background-color: black;
  color: white;
  border-color: black;
}

.beatstrip,
.keyboard,
.arrows {
  position: relative;
  width: 290px;
  display: flex;
}

.beat,
.arrow,
.key {
  flex-grow: 1;
  cursor: pointer;
}

.beatstrip {
  min-width: auto; 
  max-width: auto;
}

.beat {
  background-color: #75D5FF;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  opacity: 0.8;
}

.beat[data-current="true"] {
  opacity: 1;
}

.beat[data-selected="true"] {
  background-color: #D4FFB0;
}

.key {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
}

.key.white {
  background-color: rgba(255,255,255,0.3);
  height: 90px;
}

.key.black {
  height: 90px;
  background-color: rgba(0,0,0,0.3);
}

.key.black[data-selected="true"] {
  background-color: rgba(0,0,0,1);
}

.key.white[data-selected="true"] {
  background-color: rgba(255,255,255,1);
}

.colourmarker {
  border-style:solid;
  border-color:black;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 1em; 
  position: absolute; 
  left: 0px;
  bottom: 0%;
}

.arrow {
  background-color: black;
  color: white;
  font-size: 4em;
}

#start {
  width: 100px;
  height: 100px;
  padding: 1em;
  margin: auto;
  background: radial-gradient(
    #ff0000,
    #cf9bff,
    #ffff00,
    #65659a,
    #e4fbff,
    #ae1600,
    #00cdff,
    #ff6500,
    #ff00ff,
    #2fcd30,
    #8d8b8d,
    #0000fe
  );
  color: white;
}
