* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #F58CFF;
}

.controls,
.wrapper {
    width: 240px;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(12, 20px);
    grid-auto-flow: row;
}

.box {
    font-size: 0.5em;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

.box[data-you] {
    background-color: black;
    color: white;
    border-color: black;
}

.box[data-playing] {
    background-color: #75D5FF;
    color: white;
    border-color: black;
}

.beatstrip,
.keyboard,
.arrows {
    position: relative;
    display: flex;
    width: 100%;
}

.beat,
.arrow,
.key {
    flex: 1 1 0px;
}

.beat {
    background-color: #75D5FF;
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.beat[data-selected="true"] {
    background-color: #D4FFB0;
}

.key {
    opacity: 0.3;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
}

.key.white {
    background-color: white;
    height: 80px;
}

.key.black {
    height: 80px;
    background-color: black;
}

.key[data-selected="true"] {
    opacity: 1;
}

.arrow {
    background-color: black;
    color: #D4FFB0;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
}

#start {
    display: block;
    width: 200px;
    margin: auto;
}