* {
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

main {
  width: 240px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  background-repeat: no-repeat;
}

button {
  border-style: none;
}

button:focus {
  transform: scale(1.2);
}

#start,
#intro {
  display: none;
}

[data-holding] #start,
[data-holding] #intro {
  display: block;
}

[data-holding] .controls,
[data-holding] .wrapper {
  display: none;
}

.controls,
.wrapper {
  width: 240px;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 20px);
  grid-template-rows: repeat(12, 20px);
  grid-auto-flow: row;
}

.box {
  font-size: 1em;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
}

.box[data-you] {
  background-color: black;
  color: white;
  border-color: black;
}

.beatstrip,
.keyboard,
.arrows {
  position: relative;
  display: flex;
  width: 240px;
}

.beat,
.arrow,
.key {
  flex-basis: auto;
  flex: 1;
}

.beat {
  background-color: #75D5FF;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  opacity: 0.8;
}

.beat[data-current="true"] {
  opacity: 1;
}

.beat[data-selected="true"] {
  background-color: #D4FFB0;
}

.key {
  opacity: 0.3;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
}

.key.white {
  background-color: white;
  height: 80px;
}

.key.black {
  height: 80px;
  background-color: black;
}

.key[data-selected="true"] {
  opacity: 1;
}

.arrow {
  background-color: black;
  color: white;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
}

#start {
  width: 200px;
  margin: auto;
}
